.App {
  margin-top:50px;
  text-align: center;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}


* {
  box-sizing: border-box;
}

.movies {
  text-align: center;
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 10px; */
}

.searchTextField{
  /* padding-left:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:-10px; */
  border: 1px solid #808080;
  border-bottom-left-radius:15px;
  border-top-left-radius:15px;
}

.searchButton{
  border-bottom-right-radius:10px;
  border-top-right-radius:10px;
  border:transparent;
  background-repeat: no-repeat;
  padding: 10px;
  background: #2196F3;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.searchIconImage{
  height:20px;
  width:20px;
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

.movieContainer{

}



@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}

